angular-projecti
boxicons-2.1.4
fontawesome6
Fonts
icons-1.11.3
Practice Media
react-app
swiper-11.0.5
vite-projecti
ts
scss
Tutorial Notes
hotelapi-main
bootstrap-5.3.3-dist
bootstrap-5.2.3-dist
me.txt
package.json
.prettierrc
eslint.config.js
jQuery.php
js/jquery-3.7.1.min.js
css/variables.css
css/mixins.css
js/popper.min.js